<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:Event/etc/events.xsd">
    <event name="controller_action_predispatch_checkout_index_index">
        <observer name="checkcout_page" instance="Tigren\DailyDeals\Observer\CheckShoppingCart" />
    </event>
    <event name="sales_order_place_after">
        <observer name="checkcout_success" instance="Tigren\DailyDeals\Observer\AfterCheckout" />
    </event>
</config>
